/* 외부 상자 */
#outer-container {
    display: flex; 
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 15px; 
    background-color: #f4f9fb;
    margin: 30px auto;
    width: 95%; 
    max-width: 1600px; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    align-items: stretch; /* 메뉴와 그래프 높이 균일화 */
}

h4 {
    font-size: 1.0rem; 
    color: #666; 
    font-weight: normal; 
    margin-top: 10px; 
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif; 
}


/* 왼쪽 메뉴 */
#menu-container {
    width: 30%; 
    padding: 15px; 
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-sizing: border-box; 
    margin-right: 15px; 
}

#menu-container h3 {
    text-align: center; 
    font-size: 1.5em; 
    font-weight: bold; 
    margin-bottom: 20px; 
    color: #333; 
}

/* 메뉴 리스트 스타일 */
.menu-list {
    list-style: none; /* 점 제거 */
    padding: 0;
    margin: 0;
}

.menu-item {
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #dcecf8;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    /* 메뉴 항목 텍스트 스타일 */
    font-size: 14px; 
    font-family: 'Roboto', sans-serif;
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 말줄임 표시 */
}

.menu-item:hover {
    background-color: #56b6fa;
    color: white;
    border-color: #c0d9f4;
}

/* 오른쪽 그래프 */
#chart-wrapper {
    width: 70%; 
    padding: 10px; 
    background-color: #fff; 
    border: 1px solid #eeecec; 
    border-radius: 8px; 
    box-sizing: border-box; 
}

#chart-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
    letter-spacing: 3px;
}

#chart-container {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    min-height: 400px;
}

/* 캔버스 */
canvas {
    max-width: 100%;
    height: auto;
}

/* 셀렉트 박스 스타일 */
#item-select {
    /*appearance: none; /* 기본 화살표 제거 */
    border: 2px solid #004d00; 
    background-color: #f9f9f9; 
    color: #333; 
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
    width: 220px; /* 기본 너비 설정 */
    position: relative; /* 화살표 위치를 위한 relative 위치 지정 */
    padding-right: 30px; /* 화살표 공간 확보 */
}

/* 셀렉트 박스 호버 및 포커스 시 스타일 */
#item-select:hover,
#item-select:focus {
    border-color: #01aa20; 
    background-color: #ffffe6; 
    outline: none; 
}


/* 품목 선택 라벨 스타일 */
#select-box-container label {
    font-size: 1.2rem; 
    font-weight: bold; 
    color: #004d00;
    margin-right: 10px; 
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
}
